@charset "utf-8";

// color
$nvy:#1B5C98;
$wht:#fff;
$blk:#282828;
$yel:#C8A311;

//none
@media screen and (min-width: 768px), print {
    footer,#end-contact,header{
        display: none;
    }
    main,#g-nav,h2.main-title{
        width: 100%;
        min-width:auto;
    }
}
//base

.ap-f-nvy{color:$nvy;}
.ap-f-yel{color:$yel;}
.ap-f-strong{font-weight: bold;}

@media screen and (min-width: 768px), print {
    .page-airpass{
        img{//img
            max-width: 100%;
        }
        .ap-wrapbase{
            width: 100%;//base
            margin: 0 auto;
            &.w850{max-width: 850px;}
            &.w1000{max-width: 1000px;}
            &.w1100{max-width: 1100px;}
            &.w1200{max-width: 1200px;}
            &.w1300{max-width: 1300px;}
        }
        .ap-sp{
            display: none !important;
        }.ap-pc{
            display: block !important;
        }
    }
}
@media screen and (max-width: 1300px), print {
    .page-airpass{
        .ap-wrapbase{
            width: 94%;//base
            margin: 0 auto;
        }
    }
 }
@media screen and (max-width: 767px), print {
    .page-airpass{
        .ap-sp{
            display: block !important;
        }.ap-pc{
            display: none !important;
        }
    }
}

//pc_contents
@media screen and (min-width: 768px), print {
    .page-airpass{
        
        //メインビジュアル
        .ap-cnt01{
            margin-bottom: 150px;
            .ap-cnt01__Tit{//メイン画像
                position: relative;
                text-align: center;
                margin-bottom: 70px;
                &__txt{
                    width: 100%;
                    font-size: 40px;
                    color:$wht;
                    position: absolute;
                    top:calc(50% - 45px);
                    left: 0;
                    &Sml{
                        font-size: 20px;
                        display: block;
                        margin-bottom: 25px;
                    }
                }
            }.ap-cnt01__Box{//テキスト
                text-align: center;
                &__copy{
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 45px;
                }
                &__txt{
                    font-size: 18px;
                    line-height: 1.8;
                }
            }
        }
        
        //全棟「エアパス工法」
        .ap-cnt02{
            padding-bottom: 70px;
            background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wave.png) no-repeat bottom center;
            background-size: 100%;
            
            .ap-cnt02__Box{
                display: flex;
                justify-content: space-between;
                &__img{
                    max-width: 500px;
                    width: 50%;
                }
                &__inner{
                    max-width: 535px;
                    width: 46%;
                }
                &__copy{
                    font-weight: bold;
                    line-height: 1.4;
                    font-size: 50px;
                    margin-bottom: 40px;
                    &Sml{
                        font-size: 26px;
                        display: block;
                        margin-bottom: 10px;
                    }
                }
                &__txt{
                    line-height: 1.6;
                }
            }
        }
        .ap-cnt03{//メリット
            padding: 130px 0;
            margin-bottom: 120px;
            background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wall.jpg) center;
            .ap-cnt03__Tit{//見出し
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 75px;
                position: relative;
                &:before,&:after{
                    content: "";
                    display: block;
                    width: 85px;
                    height: 59px;
                    background-size: 100% !important;
                    position: absolute;
                }
                &:before{
                    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-left_sp.png) ;
                    bottom:-10px;
                    left: 0;
                }
                &:after{
                    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-right_sp.png) ;
                    top:-10px;
                    right: 0;
                }
                &__Sml{
                    font-size: 26px;
                    display: block;
                    margin-bottom: 30px;
                }
            }
            .ap-cnt03__Lists{//メリット内容
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 50px;
                &__list{
                    list-style: none;
                    width: calc((100% - 60px)/3);
                    margin:0 30px 30px 0;
                    background: $wht;
                    padding:40px 20px ;
                    box-shadow:3px 3px 10px 0px #dddcda;
                    &:nth-child(3),&:nth-child(5){
                        margin-right: 0;
                    }
                    .ap-cnt03__Lists__copy:before{
                        display: block;
                        text-align: center;
                        color:$nvy;
                        margin-bottom: 20px;
                        font-size: 35px;
                    }
                    &:nth-child(1) .ap-cnt03__Lists__copy:before{content:"01";}
                    &:nth-child(2) .ap-cnt03__Lists__copy:before{content:"02";}
                    &:nth-child(3) .ap-cnt03__Lists__copy:before{content:"03";}
                    &:nth-child(4) .ap-cnt03__Lists__copy:before{content:"04";}
                    &:nth-child(5) .ap-cnt03__Lists__copy:before{content:"05";}
                }
                &__copy{
                    font-size: 25px;
                    line-height: 1.4;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 30px;
                    &:after{
                        content: '';
                        display: block;
                        width: 120px;
                        height: 1px;
                        margin: 30px auto 0;
                        background: #707070;
                    }
                }
                &__txt{
                    line-height: 1.6;
                }
            }
             .ap-cnt03__Figure{//図
                 padding: 50px;
                 background-size: 8px 8px;
                 background-color: $wht;
                 background-image: radial-gradient(lighten($blk,50%) 19%, transparent 20%);
             }

        }
        
        .ap-cnt04{//暮らしの特徴
            margin-bottom: 110px;
            .ap-cnt04__Tit{
                font-size: 60px;
                text-align: center;
                margin-bottom: 80px;
                font-weight: bold;
            }
            .ap-cnt04__Frame{
                border: 1px solid $blk;
                padding: 120px 50px;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 120px;
                    background: $blk;
                    position: absolute;
                    top:-40px;
                    left: 50%;
                }
            }
            .ap-cnt04__Box{
                max-width: 950px;
                display: flex;
                justify-content: space-between;
                margin:0 0 70px 50px;
                @media screen and (max-width: 950px), print {
                    margin-left:0;
                 }
                &__img{
                    max-width: 420px;
                    width: 45%;
                }
                &__inner{
                    max-width: 480px;
                    width: 51%;
                }
                &__copy{
                    font-size: 33px;
                    line-height: 1.4;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                &__txt{
                    line-height: 1.6;
                }
                &:nth-child(2){
                    margin:0;
                    .ap-cnt04__Box__img{
                        order: 2;
                    }
                    .ap-cnt04__Box__inner{
                        order: 1;
                    }
                }
            }

        }
        
        .ap-cnt05{//大満足の住まい
            overflow: hidden;
            position: relative;
            padding:80px 0 130px;
            &:before,&:after{
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
            }
            &:before{
                width: calc(50% - 175px);
                height: 793px;
                background: url(/artsora/theme/ababai/images/airpass/airpass-bk-navy.jpg);
                top: -80px;
                left: 0;
            }
            &:after{
                width: calc(50% + 175px);
                height: 220px;
                background-size: 8px 8px;
                background-color: $wht;
                background-image: radial-gradient(lighten($blk,50%) 19%, transparent 20%);
                bottom: -80px;
                right: 0;
            }
            &__Box01{
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media screen and (max-width: 1040px), print {
                    align-items: flex-start;
                 }
                margin-bottom: 60px;
                &__img{
                    max-width: 680px;
                    width: 57%;
                    margin-left: -135px;
                }
                &__inner{
                    max-width: 590px;
                    width: 55%;
                }
                &__copy{
                    font-size: 50px;
                    font-weight: bold;
                    line-height: 1.4;
                    margin-bottom: 50px;
                }
                &__txt{
                    line-height: 1.6;
                }
            }&__Box02{
                max-width: 850px;
                border: 2px solid $nvy;
                padding: 10px;
                background: $wht;
                &__inner{
                    border: 2px solid lighten($nvy,30%);
                    text-align: center;
                    padding: 85px 0 40px;
                    background: url(/artsora/theme/ababai/images/airpass/airpass-icon-leaf.png) no-repeat center top 40px;
                    line-height: 1.6;
                }
                &__copy{
                    margin-bottom: 30px;
                    font-weight: bold;
                    font-size: 25px;
                }
            }
        }
        
        .ap-cnt06{//ゆとりある暮らしをしたい方にぴったりな工法
            text-align: center;
            position: relative;
            margin-bottom: 60px;
            overflow: hidden;
            @media screen and (max-width: 1500px), print {
                &__Img{
                    width: 2000px;
                    margin-left: calc(50% - 1000px);
                }
             }
            &__Box{
                width: 94%;
                padding-top: 90px;
                color:$wht;
                position: absolute;
                top:calc(50% - 250px);
                left: 3%;
                background: url(/artsora/theme/ababai/images/airpass/airpass-icon-tech_sp.png) no-repeat center top;
                background-size: 48px;
                &__copy{
                    font-size: 45px;
                    font-weight: bold;
                    margin-bottom: 60px;
                    line-height: 1.4;
                    &Sml{
                        font-size: 35px;
                        display: block;
                        margin-bottom: 20px;
                    }
                }
                &__txt{
                    line-height: 1.6;
                }
            }

        }
        
        .ap-cnt07{//展示場
            position: relative;
            .ap-cnt07__Frame{
                border: 1px solid lighten($blk,50%);
                padding: 70px 20px;
                text-align: center;
                position: relative;
                margin-bottom: 70px;
                &__copy{
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 1.6;
                    &Sml{
                        font-size: 20px;
                    }
                    &:after{
                        content: '';
                        display: block;
                        width: 1px;
                        height: 70px;
                        margin: 30px auto 0;
                        background: #707070;
                        position: absolute;
                        bottom: -35px;
                        left: 50%;
                    }
                }
            }
            .ap-cnt07__Lead{
                font-size: 24px;
                font-weight: bold;
                line-height: 1.6;
                text-align: center;
                margin-bottom: 60px;
                &__Sml{
                    font-size: 15px;
                }
            }
            .ap-cnt07__Lists{
                display: flex;
                justify-content: space-between;
                &__list{
                    width: calc((100% - 50px)/3);
                    margin-right: 25px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            &:before,&:after,
            .ap-cnt07__Frame:before,.ap-cnt07__Frame:after{//ｖ設定
                content:"";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                border-style: solid;
                border-width: 25px 65px 0 65px;
            }
            &:before,.ap-cnt07__Frame:before{
                border-color: lighten($blk,50%) transparent transparent transparent;
                left:calc(50% - 65px);
            }
            &:before{top:-10px;z-index: 2;}
            .ap-cnt07__Frame:before{top:0;}
            &:after,.ap-cnt07__Frame:after{
                    border-color: $wht transparent transparent transparent;
                    left:calc(50% - 65px);
            }
            &:after{top:-11px;z-index: 2;}
            .ap-cnt07__Frame:after{top:-1px;}
        }
    }
}


//sp_contents
@media screen and (max-width: 767px), print {
    .page-airpass{
        
        //メインビジュアル
        .ap-cnt01{
            margin-bottom: 90px;
            .ap-cnt01__Tit{//メイン画像
                position: relative;
                margin-bottom: 35px;
                &__txt{
                    width: 100%;
                    font-size: 25px;
                    color:$wht;
                    position: absolute;
                    top:calc(50% - 50px);
                    left: 0;
                    text-align: center;
                    &Sml{
                        font-size: 14px;
                        display: block;
                        margin-bottom: 25px;
                    }
                }
            }.ap-cnt01__Box{//テキスト
                &__copy{
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    line-height: 1.4;
                }
                &__txt{
                    font-size: 14px;
                    line-height: 1.8;
                }
            }
        }
        
        //全棟「エアパス工法」
        .ap-cnt02{
            padding-bottom: 50px;
            background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wave.png) no-repeat bottom center;
            background-size: 1700px;
            .ap-cnt02__Box{
                display: flex;
                flex-wrap: wrap;
                &__img{
                    width: 100%;
                    order: 2;
                }
                &__inner{
                    width: 100%;
                    order: 1;
                }
                &__copy{
                    font-weight: bold;
                    line-height: 1.4;
                    font-size: 25px;
                    margin-bottom: 20px;
                    text-align: center;
                    &Sml{
                        font-size: 16px;
                        display: block;
                        margin-bottom: 10px;
                    }
                }
                &__txt{
                    line-height: 1.6;
                }
            }
        }
        .ap-cnt03{//メリット
            padding: 70px 0 30px;
            margin-bottom: 120px;
            background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wall.jpg) center;
            .ap-cnt03__Tit{//見出し
                font-size: 30px;
                line-height: 1.4;
                font-weight: bold;
                text-align: center;
                margin-bottom: 100px;
                position: relative;
                &:before,&:after{
                    content: "";
                    display: block;
                    width: 66px;
                    height: 46px;
                    background-size: 100% !important;
                    position: absolute;
                }
                &:before{
                    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-left_sp.png) ;
                    bottom:-60px;
                    left: 0;
                }
                &:after{
                    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-right_sp.png) ;
                    top:-40px;
                    right: 0;
                }
                &__Sml{
                    font-size: 14px;
                    display: block;
                    margin-bottom: 20px;
                }
            }
            .ap-cnt03__Lists{//メリット内容
                margin-bottom: 50px;
                &__list{
                    list-style: none;
                    margin-bottom:30px;
                    background: $wht;
                    padding:30px 20px ;
                    box-shadow:3px 3px 10px 0px #dddcda;
                    text-align: center;
                    &:nth-child(3),&:nth-child(5){
                        margin-right: 0;
                    }
                    .ap-cnt03__Lists__copy:before{
                        display: block;
                        color:$nvy;
                        margin-bottom: 20px;
                        font-size: 20px;
                    }
                    &:nth-child(1) .ap-cnt03__Lists__copy:before{content:"01";}
                    &:nth-child(2) .ap-cnt03__Lists__copy:before{content:"02";}
                    &:nth-child(3) .ap-cnt03__Lists__copy:before{content:"03";}
                    &:nth-child(4) .ap-cnt03__Lists__copy:before{content:"04";}
                    &:nth-child(5) .ap-cnt03__Lists__copy:before{content:"05";}
                }
                &__copy{
                    font-size: 20px;
                    line-height: 1.4;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 25px;
                    &:after{
                        content: '';
                        display: block;
                        width: 100px;
                        height: 1px;
                        margin: 25px auto 0;
                        background: #707070;
                    }
                }
                &__txt{
                    line-height: 1.6;
                }
            }
            .ap-cnt03__Figure{//図
                padding: 15px;
                background-size: 8px 8px;
                background-color: $wht;
                background-image: radial-gradient(lighten($blk,50%) 19%, transparent 20%);
            }

        }
        
        .ap-cnt04{//暮らしの特徴
            margin-bottom: 70px;
            .ap-cnt04__Tit{
                font-size: 40px;
                text-align: center;
                margin-bottom: 80px;
                font-weight: bold;
            }
            .ap-cnt04__Frame{
                border: 1px solid $blk;
                padding: 70px 10px 30px;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 60px;
                    background: $blk;
                    position: absolute;
                    top:-20px;
                    left: 50%;
                }
            }
            .ap-cnt04__Box{
                display: flex;
                flex-wrap: wrap;
                margin-bottom:40px;
                &__img{
                    width: 100%;
                    order: 2;
                }
                &__inner{
                    width: 100%;
                    margin-bottom: 25px;
                    order: 1;
                }
                &__copy{
                    font-size: 16px;
                    line-height: 1.4;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                &__txt{
                    font-size: 14px;
                    line-height: 1.6;
                }
                &:nth-child(2){
                    margin:0;
                    .ap-cnt04__Box__img{
                        order: 2;
                    }
                    .ap-cnt04__Box__inner{
                        order: 1;
                    }
                }
            }

        }
        
        .ap-cnt05{//大満足の住まい
            overflow: hidden;
            position: relative;
            padding-bottom: 90px;
            margin-bottom: 30px;
            .ap-wrapbase.w1200{
                width:100%;
            }
            &:before,&:after{
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
            }
            &:after{
                width: calc(50% + 175px);
                height: 220px;
                background-size: 8px 8px;
                background-color: $wht;
                background-image: radial-gradient(lighten($blk,50%) 19%, transparent 20%);
                bottom: -80px;
                right: 0;
            }
            &__Box01{
                margin-bottom: 30px;
                &__img{
                    padding: 30px 0;
                    margin-bottom: 20px;
                    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-navy.jpg) repeat-y left top;
                    background-size: calc(50% + 50px);
                    text-align: right;
                    &Image{
                        max-width: 680px;
                        width: 80%;
                        margin-right: 3%;
                    }
                }
                &__inner{
                }
                &__copy{
                    width: 94%;
                    margin: 0 auto 20px;
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 1.4;
                }
                &__txt{
                    width: 94%;
                    margin: 0 auto;
                    font-size: 1.4px;
                    line-height: 1.6;
                    .ap-f-strong{
                        font-size: 16px;
                    }
                }
            }&__Box02{
                border: 2px solid $nvy;
                padding: 5px;
                background: $wht;
                &__inner{
                    border: 2px solid lighten($nvy,30%);
                    padding: 75px 0 35px;
                    background: url(/artsora/theme/ababai/images/airpass/airpass-icon-leaf_sp.png) no-repeat center top 40px;
                    background-size: 35px;
                    line-height: 1.6;
                }
                &__copy{
                    width: 320px;
                    margin:0 auto 10px;
                    font-weight: bold;
                    font-size: 16px;
                }
                &__txt{
                    width: 320px;
                    margin:0 auto ;
                    font-size: 1.4px;
                    line-height: 1.6;
                }
            }
        }
        
        .ap-cnt06{//ゆとりある暮らしをしたい方にぴったりな工法
            position: relative;
            margin-bottom: 60px;
            overflow: hidden;
            &__Box{
                width: 94%;
                padding-top: 80px;
                color:$wht;
                position: absolute;
                top:calc(50% - 220px);
                left: 3%;
                background: url(/artsora/theme/ababai/images/airpass/airpass-icon-tech_sp.png) no-repeat center top;
                background-size: 45px;
                &__copy{
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 40px;
                    line-height: 1.4;
                    text-align: center;
                    &Sml{
                        font-size: 16px;
                        display: block;
                        margin-bottom: 15px;
                    }
                }
                &__txt{
                    line-height: 1.6;
                    margin-bottom: 35px;
                }
                &__bn{
                    width: 290px;
                    margin: 0 auto;
                }
            }

        }
        
        .ap-cnt07{//展示場
            position: relative;
            .ap-cnt07__Frame{
                border: 1px solid lighten($blk,50%);
                padding: 35px 10px;
                text-align: center;
                position: relative;
                margin-bottom: 60px;
                &__copy{
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 1.6;
                    &Sml{
                        font-size: 14px;
                    }
                    &:after{
                        content: '';
                        display: block;
                        width: 1px;
                        height: 50px;
                        margin: 30px auto 0;
                        background: #707070;
                        position: absolute;
                        bottom: -25px;
                        left: 50%;
                    }
                }
            }
            .ap-cnt07__Lead{
                font-size: 16px;
                font-weight: bold;
                line-height: 1.6;
                text-align: center;
                margin-bottom: 20px;
                &__Sml{
                    font-size: 14px;
                }
            }
            .ap-cnt07__Lists{
                &__list{
                    margin-bottom: 25px;
                }
            }
            &:before,&:after,
            .ap-cnt07__Frame:before,.ap-cnt07__Frame:after{//ｖ設定
                content:"";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                border-style: solid;
                border-width: 26px 36px 0 36px;
            }
            &:before,.ap-cnt07__Frame:before{
                border-color: lighten($blk,50%) transparent transparent transparent;
                left:calc(50% - 36px);
            }
            &:before{top:-10px;z-index: 2;}
            .ap-cnt07__Frame:before{top:0;}
            &:after,.ap-cnt07__Frame:after{
                    border-color: $wht transparent transparent transparent;
                    left:calc(50% - 36px);
            }
            &:after{top:-11px;z-index: 2;}
            .ap-cnt07__Frame:after{top:-1px;}
        }
    }
}





