@media screen and (min-width: 768px), print {
  footer, #end-contact, header {
    display: none;
  }

  main, #g-nav, h2.main-title {
    width: 100%;
    min-width: auto;
  }
}

.ap-f-nvy {
  color: #1B5C98;
}

.ap-f-yel {
  color: #C8A311;
}

.ap-f-strong {
  font-weight: bold;
}

@media screen and (min-width: 768px), print {
  .page-airpass img {
    max-width: 100%;
  }
  .page-airpass .ap-wrapbase {
    width: 100%;
    margin: 0 auto;
  }
  .page-airpass .ap-wrapbase.w850 {
    max-width: 850px;
  }
  .page-airpass .ap-wrapbase.w1000 {
    max-width: 1000px;
  }
  .page-airpass .ap-wrapbase.w1100 {
    max-width: 1100px;
  }
  .page-airpass .ap-wrapbase.w1200 {
    max-width: 1200px;
  }
  .page-airpass .ap-wrapbase.w1300 {
    max-width: 1300px;
  }
  .page-airpass .ap-sp {
    display: none !important;
  }
  .page-airpass .ap-pc {
    display: block !important;
  }
}
@media screen and (max-width: 1300px), print {
  .page-airpass .ap-wrapbase {
    width: 94%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px), print {
  .page-airpass .ap-sp {
    display: block !important;
  }
  .page-airpass .ap-pc {
    display: none !important;
  }
}
@media screen and (min-width: 768px), print {
  .page-airpass .ap-cnt01 {
    margin-bottom: 150px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Tit {
    position: relative;
    text-align: center;
    margin-bottom: 70px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Tit__txt {
    width: 100%;
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: calc(50% - 45px);
    left: 0;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Tit__txtSml {
    font-size: 20px;
    display: block;
    margin-bottom: 25px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Box {
    text-align: center;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Box__copy {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 45px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Box__txt {
    font-size: 18px;
    line-height: 1.8;
  }
  .page-airpass .ap-cnt02 {
    padding-bottom: 70px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wave.png) no-repeat bottom center;
    background-size: 100%;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box {
    display: flex;
    justify-content: space-between;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__img {
    max-width: 500px;
    width: 50%;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__inner {
    max-width: 535px;
    width: 46%;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__copy {
    font-weight: bold;
    line-height: 1.4;
    font-size: 50px;
    margin-bottom: 40px;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__copySml {
    font-size: 26px;
    display: block;
    margin-bottom: 10px;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt03 {
    padding: 130px 0;
    margin-bottom: 120px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wall.jpg) center;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 75px;
    position: relative;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit:before, .page-airpass .ap-cnt03 .ap-cnt03__Tit:after {
    content: "";
    display: block;
    width: 85px;
    height: 59px;
    background-size: 100% !important;
    position: absolute;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit:before {
    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-left_sp.png);
    bottom: -10px;
    left: 0;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit:after {
    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-right_sp.png);
    top: -10px;
    right: 0;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit__Sml {
    font-size: 26px;
    display: block;
    margin-bottom: 30px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list {
    list-style: none;
    width: calc((100% - 60px)/3);
    margin: 0 30px 30px 0;
    background: #fff;
    padding: 40px 20px;
    box-shadow: 3px 3px 10px 0px #dddcda;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(3), .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(5) {
    margin-right: 0;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list .ap-cnt03__Lists__copy:before {
    display: block;
    text-align: center;
    color: #1B5C98;
    margin-bottom: 20px;
    font-size: 35px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(1) .ap-cnt03__Lists__copy:before {
    content: "01";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(2) .ap-cnt03__Lists__copy:before {
    content: "02";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(3) .ap-cnt03__Lists__copy:before {
    content: "03";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(4) .ap-cnt03__Lists__copy:before {
    content: "04";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(5) .ap-cnt03__Lists__copy:before {
    content: "05";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__copy {
    font-size: 25px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__copy:after {
    content: '';
    display: block;
    width: 120px;
    height: 1px;
    margin: 30px auto 0;
    background: #707070;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Figure {
    padding: 50px;
    background-size: 8px 8px;
    background-color: #fff;
    background-image: radial-gradient(#a8a8a8 19%, transparent 20%);
  }
  .page-airpass .ap-cnt04 {
    margin-bottom: 110px;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Tit {
    font-size: 60px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: bold;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Frame {
    border: 1px solid #282828;
    padding: 120px 50px;
    position: relative;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Frame:before {
    content: '';
    display: block;
    width: 1px;
    height: 120px;
    background: #282828;
    position: absolute;
    top: -40px;
    left: 50%;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box {
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 70px 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 950px), print {
  .page-airpass .ap-cnt04 .ap-cnt04__Box {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px), print {
  .page-airpass .ap-cnt04 .ap-cnt04__Box__img {
    max-width: 420px;
    width: 45%;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__inner {
    max-width: 480px;
    width: 51%;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__copy {
    font-size: 33px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box:nth-child(2) {
    margin: 0;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box:nth-child(2) .ap-cnt04__Box__img {
    order: 2;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box:nth-child(2) .ap-cnt04__Box__inner {
    order: 1;
  }
  .page-airpass .ap-cnt05 {
    overflow: hidden;
    position: relative;
    padding: 80px 0 130px;
  }
  .page-airpass .ap-cnt05:before, .page-airpass .ap-cnt05:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  .page-airpass .ap-cnt05:before {
    width: calc(50% - 175px);
    height: 793px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-navy.jpg);
    top: -80px;
    left: 0;
  }
  .page-airpass .ap-cnt05:after {
    width: calc(50% + 175px);
    height: 220px;
    background-size: 8px 8px;
    background-color: #fff;
    background-image: radial-gradient(#a8a8a8 19%, transparent 20%);
    bottom: -80px;
    right: 0;
  }
  .page-airpass .ap-cnt05__Box01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1040px), print {
  .page-airpass .ap-cnt05__Box01 {
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px), print {
  .page-airpass .ap-cnt05__Box01__img {
    max-width: 680px;
    width: 57%;
    margin-left: -135px;
  }
  .page-airpass .ap-cnt05__Box01__inner {
    max-width: 590px;
    width: 55%;
  }
  .page-airpass .ap-cnt05__Box01__copy {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 50px;
  }
  .page-airpass .ap-cnt05__Box01__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt05__Box02 {
    max-width: 850px;
    border: 2px solid #1B5C98;
    padding: 10px;
    background: #fff;
  }
  .page-airpass .ap-cnt05__Box02__inner {
    border: 2px solid #68a8e4;
    text-align: center;
    padding: 85px 0 40px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-icon-leaf.png) no-repeat center top 40px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt05__Box02__copy {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
  }
  .page-airpass .ap-cnt06 {
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px), print {
  .page-airpass .ap-cnt06__Img {
    width: 2000px;
    margin-left: calc(50% - 1000px);
  }
}
@media screen and (min-width: 768px), print {
  .page-airpass .ap-cnt06__Box {
    width: 94%;
    padding-top: 90px;
    color: #fff;
    position: absolute;
    top: calc(50% - 250px);
    left: 3%;
    background: url(/artsora/theme/ababai/images/airpass/airpass-icon-tech_sp.png) no-repeat center top;
    background-size: 48px;
  }
  .page-airpass .ap-cnt06__Box__copy {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 60px;
    line-height: 1.4;
  }
  .page-airpass .ap-cnt06__Box__copySml {
    font-size: 35px;
    display: block;
    margin-bottom: 20px;
  }
  .page-airpass .ap-cnt06__Box__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt07 {
    position: relative;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame {
    border: 1px solid #a8a8a8;
    padding: 70px 20px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame__copy {
    font-weight: bold;
    font-size: 35px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame__copySml {
    font-size: 20px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame__copy:after {
    content: '';
    display: block;
    width: 1px;
    height: 70px;
    margin: 30px auto 0;
    background: #707070;
    position: absolute;
    bottom: -35px;
    left: 50%;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lead {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 60px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lead__Sml {
    font-size: 15px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lists {
    display: flex;
    justify-content: space-between;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lists__list {
    width: calc((100% - 50px)/3);
    margin-right: 25px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lists__list:last-child {
    margin-right: 0;
  }
  .page-airpass .ap-cnt07:before, .page-airpass .ap-cnt07:after,
  .page-airpass .ap-cnt07 .ap-cnt07__Frame:before, .page-airpass .ap-cnt07 .ap-cnt07__Frame:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 25px 65px 0 65px;
  }
  .page-airpass .ap-cnt07:before, .page-airpass .ap-cnt07 .ap-cnt07__Frame:before {
    border-color: #a8a8a8 transparent transparent transparent;
    left: calc(50% - 65px);
  }
  .page-airpass .ap-cnt07:before {
    top: -10px;
    z-index: 2;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame:before {
    top: 0;
  }
  .page-airpass .ap-cnt07:after, .page-airpass .ap-cnt07 .ap-cnt07__Frame:after {
    border-color: #fff transparent transparent transparent;
    left: calc(50% - 65px);
  }
  .page-airpass .ap-cnt07:after {
    top: -11px;
    z-index: 2;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame:after {
    top: -1px;
  }
}
@media screen and (max-width: 767px), print {
  .page-airpass .ap-cnt01 {
    margin-bottom: 90px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Tit {
    position: relative;
    margin-bottom: 35px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Tit__txt {
    width: 100%;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: calc(50% - 50px);
    left: 0;
    text-align: center;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Tit__txtSml {
    font-size: 14px;
    display: block;
    margin-bottom: 25px;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Box__copy {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  .page-airpass .ap-cnt01 .ap-cnt01__Box__txt {
    font-size: 14px;
    line-height: 1.8;
  }
  .page-airpass .ap-cnt02 {
    padding-bottom: 50px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wave.png) no-repeat bottom center;
    background-size: 1700px;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box {
    display: flex;
    flex-wrap: wrap;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__img {
    width: 100%;
    order: 2;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__inner {
    width: 100%;
    order: 1;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__copy {
    font-weight: bold;
    line-height: 1.4;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__copySml {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
  }
  .page-airpass .ap-cnt02 .ap-cnt02__Box__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt03 {
    padding: 70px 0 30px;
    margin-bottom: 120px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-wall.jpg) center;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit {
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit:before, .page-airpass .ap-cnt03 .ap-cnt03__Tit:after {
    content: "";
    display: block;
    width: 66px;
    height: 46px;
    background-size: 100% !important;
    position: absolute;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit:before {
    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-left_sp.png);
    bottom: -60px;
    left: 0;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit:after {
    background: url(/artsora/theme/ababai/images/airpass/airpass-deco-tile-right_sp.png);
    top: -40px;
    right: 0;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Tit__Sml {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists {
    margin-bottom: 50px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list {
    list-style: none;
    margin-bottom: 30px;
    background: #fff;
    padding: 30px 20px;
    box-shadow: 3px 3px 10px 0px #dddcda;
    text-align: center;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(3), .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(5) {
    margin-right: 0;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list .ap-cnt03__Lists__copy:before {
    display: block;
    color: #1B5C98;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(1) .ap-cnt03__Lists__copy:before {
    content: "01";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(2) .ap-cnt03__Lists__copy:before {
    content: "02";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(3) .ap-cnt03__Lists__copy:before {
    content: "03";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(4) .ap-cnt03__Lists__copy:before {
    content: "04";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__list:nth-child(5) .ap-cnt03__Lists__copy:before {
    content: "05";
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__copy {
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__copy:after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    margin: 25px auto 0;
    background: #707070;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Lists__txt {
    line-height: 1.6;
  }
  .page-airpass .ap-cnt03 .ap-cnt03__Figure {
    padding: 15px;
    background-size: 8px 8px;
    background-color: #fff;
    background-image: radial-gradient(#a8a8a8 19%, transparent 20%);
  }
  .page-airpass .ap-cnt04 {
    margin-bottom: 70px;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Tit {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: bold;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Frame {
    border: 1px solid #282828;
    padding: 70px 10px 30px;
    position: relative;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Frame:before {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: #282828;
    position: absolute;
    top: -20px;
    left: 50%;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__img {
    width: 100%;
    order: 2;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__inner {
    width: 100%;
    margin-bottom: 25px;
    order: 1;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__copy {
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box__txt {
    font-size: 14px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box:nth-child(2) {
    margin: 0;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box:nth-child(2) .ap-cnt04__Box__img {
    order: 2;
  }
  .page-airpass .ap-cnt04 .ap-cnt04__Box:nth-child(2) .ap-cnt04__Box__inner {
    order: 1;
  }
  .page-airpass .ap-cnt05 {
    overflow: hidden;
    position: relative;
    padding-bottom: 90px;
    margin-bottom: 30px;
  }
  .page-airpass .ap-cnt05 .ap-wrapbase.w1200 {
    width: 100%;
  }
  .page-airpass .ap-cnt05:before, .page-airpass .ap-cnt05:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  .page-airpass .ap-cnt05:after {
    width: calc(50% + 175px);
    height: 220px;
    background-size: 8px 8px;
    background-color: #fff;
    background-image: radial-gradient(#a8a8a8 19%, transparent 20%);
    bottom: -80px;
    right: 0;
  }
  .page-airpass .ap-cnt05__Box01 {
    margin-bottom: 30px;
  }
  .page-airpass .ap-cnt05__Box01__img {
    padding: 30px 0;
    margin-bottom: 20px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-bk-navy.jpg) repeat-y left top;
    background-size: calc(50% + 50px);
    text-align: right;
  }
  .page-airpass .ap-cnt05__Box01__imgImage {
    max-width: 680px;
    width: 80%;
    margin-right: 3%;
  }
  .page-airpass .ap-cnt05__Box01__copy {
    width: 94%;
    margin: 0 auto 20px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4;
  }
  .page-airpass .ap-cnt05__Box01__txt {
    width: 94%;
    margin: 0 auto;
    font-size: 1.4px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt05__Box01__txt .ap-f-strong {
    font-size: 16px;
  }
  .page-airpass .ap-cnt05__Box02 {
    border: 2px solid #1B5C98;
    padding: 5px;
    background: #fff;
  }
  .page-airpass .ap-cnt05__Box02__inner {
    border: 2px solid #68a8e4;
    padding: 75px 0 35px;
    background: url(/artsora/theme/ababai/images/airpass/airpass-icon-leaf_sp.png) no-repeat center top 40px;
    background-size: 35px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt05__Box02__copy {
    width: 320px;
    margin: 0 auto 10px;
    font-weight: bold;
    font-size: 16px;
  }
  .page-airpass .ap-cnt05__Box02__txt {
    width: 320px;
    margin: 0 auto;
    font-size: 1.4px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt06 {
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
  }
  .page-airpass .ap-cnt06__Box {
    width: 94%;
    padding-top: 80px;
    color: #fff;
    position: absolute;
    top: calc(50% - 220px);
    left: 3%;
    background: url(/artsora/theme/ababai/images/airpass/airpass-icon-tech_sp.png) no-repeat center top;
    background-size: 45px;
  }
  .page-airpass .ap-cnt06__Box__copy {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.4;
    text-align: center;
  }
  .page-airpass .ap-cnt06__Box__copySml {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
  }
  .page-airpass .ap-cnt06__Box__txt {
    line-height: 1.6;
    margin-bottom: 35px;
  }
  .page-airpass .ap-cnt06__Box__bn {
    width: 290px;
    margin: 0 auto;
  }
  .page-airpass .ap-cnt07 {
    position: relative;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame {
    border: 1px solid #a8a8a8;
    padding: 35px 10px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame__copy {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame__copySml {
    font-size: 14px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame__copy:after {
    content: '';
    display: block;
    width: 1px;
    height: 50px;
    margin: 30px auto 0;
    background: #707070;
    position: absolute;
    bottom: -25px;
    left: 50%;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lead {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lead__Sml {
    font-size: 14px;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Lists__list {
    margin-bottom: 25px;
  }
  .page-airpass .ap-cnt07:before, .page-airpass .ap-cnt07:after,
  .page-airpass .ap-cnt07 .ap-cnt07__Frame:before, .page-airpass .ap-cnt07 .ap-cnt07__Frame:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 26px 36px 0 36px;
  }
  .page-airpass .ap-cnt07:before, .page-airpass .ap-cnt07 .ap-cnt07__Frame:before {
    border-color: #a8a8a8 transparent transparent transparent;
    left: calc(50% - 36px);
  }
  .page-airpass .ap-cnt07:before {
    top: -10px;
    z-index: 2;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame:before {
    top: 0;
  }
  .page-airpass .ap-cnt07:after, .page-airpass .ap-cnt07 .ap-cnt07__Frame:after {
    border-color: #fff transparent transparent transparent;
    left: calc(50% - 36px);
  }
  .page-airpass .ap-cnt07:after {
    top: -11px;
    z-index: 2;
  }
  .page-airpass .ap-cnt07 .ap-cnt07__Frame:after {
    top: -1px;
  }
}
